---
import { Button } from "./ui/button";
import { Input } from "./ui/input";
---

<script is:inline>
  function handleSubmit(e) {
    e.preventDefault();
    console.log("Subscribed!");
  }
</script>

<section id="newsletter">
  <hr class="w-11/12 mx-auto" />

  <div class="container py-24 sm:py-32">
    <h3 class="text-center text-4xl md:text-5xl font-bold">
      Join Our Daily{" "}
      <span class="bg-linear-to-b from-primary/60 to-primary text-transparent bg-clip-text">
        Newsletter
      </span>
    </h3>
    <p class="text-xl text-muted-foreground text-center mt-4 mb-8">
      Lorem ipsum dolor sit amet consectetur.
    </p>

    <form
      class="flex flex-col w-full md:flex-row md:w-6/12 lg:w-4/12 mx-auto gap-4 md:gap-2"
      onsubmit={"handleSubmit(...arguments)"}
    >
      <Input
        placeholder="leomirandadev@gmail.com"
        className="bg-muted/50 dark:bg-muted/80 "
        aria-label="email"
      />
      <Button>Subscribe</Button>
    </form>
  </div>

  <hr class="w-11/12 mx-auto" />
</section>
