---
import { ArrowUpToLine } from "lucide-react";

import Button from "./ui/Button.astro";
---

<Button
  id="scrollToTop"
  size="icon"
  className="fixed bottom-4 right-4 opacity-90 shadow-md invisible"
>
  <ArrowUpToLine className="h-4 w-4" />
</Button>

<script>
  const btn = document.querySelector<HTMLButtonElement>("button#scrollToTop")
  
  btn?.addEventListener("click", () => {window.scroll({top: 0, left: 0 })})
  
  window.addEventListener("scroll", () => {
    if (window.scrollY > 400) {
      btn?.classList.remove('invisible')
    } else {
      btn?.classList.add('invisible')
    }
  });
</script>
