---
import { type JSX } from "react";
import { Card, CardDescription, CardHeader, CardTitle } from "./ui/card";
import { MagnifierIcon, WalletIcon, ChartIcon } from "./Icons";
import cubeLeg from "../assets/cube-leg.png";

interface ServiceProps {
  title: string;
  description: string;
  icon: () => JSX.Element;
}

const serviceList: ServiceProps[] = [
  {
    title: "Code Collaboration",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt est nostrum omnis ab sapiente.",
    icon: ChartIcon,
  },
  {
    title: "Project Management",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt est nostrum omnis ab sapiente.",
    icon: WalletIcon,
  },
  {
    title: "Task Automation",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt est nostrum omnis ab sapiente.",
    icon: MagnifierIcon,
  },
];
---

<section class="container py-24 sm:py-32">
  <div class="grid lg:grid-cols-[1fr_1fr] gap-8 place-items-center">
    <div>
      <h2 class="text-3xl md:text-4xl font-bold">
        <span class="bg-linear-to-b from-primary/60 to-primary text-transparent bg-clip-text">
          Client-Centric{" "}
        </span>
        Services
      </h2>

      <p class="text-muted-foreground text-xl mt-4 mb-8 ">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
        dolor.
      </p>

      <div class="flex flex-col gap-8">
        {serviceList.map(({ icon: Icon, title, description }: ServiceProps) => (
          <Card key={title}>
            <CardHeader className="space-y-1 flex md:flex-row justify-start items-start gap-4">
              <div class="mt-1 bg-primary/20 p-1 rounded-2xl">
                <Icon />
              </div>
              <div>
                <CardTitle>{title}</CardTitle>
                <CardDescription className="text-md mt-2">
                  {description}
                </CardDescription>
              </div>
            </CardHeader>
          </Card>
        ))}
      </div>
    </div>

    <img
      src={cubeLeg.src}
      class="w-[300px] md:w-[500px] lg:w-[600px] object-contain"
      alt="About services"
    />
  </div>
</section>
