---
import { AvatarComponent } from "./ui/custom/Avatar";
import Card from "@/components/ui/card/Card.astro";
import CardHeader from "@/components/ui/card/CardHeader.astro";
import CardTitle from "@/components/ui/card/CardTitle.astro";
import CardDescription from "@/components/ui/card/CardDescription.astro";
import CardContent from "@/components/ui/card/CardContent.astro";

interface TestimonialProps {
  image: string;
  name: string;
  userName: string;
  comment: string;
}

const testimonials: TestimonialProps[] = [
  {
    image: "https://github.com/shadcn.png",
    name: "John Doe React",
    userName: "@john_Doe",
    comment: "This landing page is awesome!",
  },
  {
    image: "https://github.com/shadcn.png",
    name: "John Doe React",
    userName: "@john_Doe1",
    comment:
      "Lorem ipsum dolor sit amet,empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.",
  },

  {
    image: "https://github.com/shadcn.png",
    name: "John Doe React",
    userName: "@john_Doe2",
    comment:
      "Lorem ipsum dolor sit amet,exercitation. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.",
  },
  {
    image: "https://github.com/shadcn.png",
    name: "John Doe React",
    userName: "@john_Doe3",
    comment:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.",
  },
  {
    image: "https://github.com/shadcn.png",
    name: "John Doe React",
    userName: "@john_Doe4",
    comment:
      "Lorem ipsum dolor sit amet, tempor incididunt  aliqua. Ut enim ad minim veniam, quis nostrud.",
  },
  {
    image: "https://github.com/shadcn.png",
    name: "John Doe React",
    userName: "@john_Doe5",
    comment:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
  },
];
---

<section
  id="testimonials"
  class="container py-24 sm:py-32"
>
  <h2 class="text-3xl md:text-4xl font-bold">
    Discover Why
    <span class="bg-linear-to-b from-primary/60 to-primary text-transparent bg-clip-text">
      {" "}
      People Love{" "}
    </span>
    This Landing Page
  </h2>

  <p class="text-xl text-muted-foreground pt-4 pb-8">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non unde error
    facere hic reiciendis illo
  </p>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 sm:block columns-2  lg:columns-3 lg:gap-6 mx-auto space-y-4 lg:space-y-6">
    {testimonials.map(
      ({ image, name, userName, comment }: TestimonialProps) => (
        <Card class="max-w-md md:break-inside-avoid overflow-hidden">
          <CardHeader class="flex flex-row items-center gap-4 pb-2">
            <AvatarComponent client:load src={image} alt="" fallbackText="OM" />

            <div class="flex flex-col">
              <CardTitle class="text-lg">{name}</CardTitle>
              <CardDescription>{userName}</CardDescription>
            </div>
          </CardHeader>

          <CardContent>{comment}</CardContent>
        </Card>
      )
    )}
  </div>
</section>
