---
import Button from "@/components/ui/Button.astro";
import { Moon, Sun } from "lucide-react";
import { ModeToggle as ReactModeToggle } from "./mode-toggle.tsx"
---

<ReactModeToggle client:only="react">
  <Button
    variant="ghost"
    size="icon"
    class="ghost"
  >
    <Sun className="h-[1.1rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0" />
    <Moon className="absolute h-[1.1rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100" />
    <span class="sr-only">Toggle theme</span>
  </Button>
</ReactModeToggle>
